
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url(./componantes/sidebar.css);
@import url(./componantes/article.css);
@import url(./componantes/favorites.css);




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand';
    user-select: none;
}
body{
    background-color: #242424;
}
body.closeScroll{
    overflow: hidden;
}
